{% extends 'template.html.twig' %}

{% block body %}
    {{ dump(personne) }}
    <div class="alert alert-success">
       My Firstname is : {{ personne.firstname }}
       My name is : {{ personne.name }}
       i have : {{ personne.Age }}
    </div>
{% endblock %}

{% block title %}
    personne
{% endblock %}
