{% extends 'template.html.twig' %}

{% block body %}
<div >Nombre de Personne d'age entre {{ageMin }} ans  et {{ageMax}} ans </div>
<p><a class="small text-white stretched-link">{{stats['nombrePersonne'] }}</a></p>
<p><a class="small text-white stretched-link">{{stats['ageMoyen'] }}</a></p>
  
 </div>
    
{% endblock %}

{% block title %}

{% endblock %}
